.search-field__form{
padding:4em;
margin: 0 auto;
max-width: 30rem;;
}
.search-field{
display: flex;
padding: 0,5rem;
}
.gird-container{
  
    display:grid;
    align-items: center;
    justify-content: center;
    grid-column-gap: 0.5em;
    grid-template-areas:
    'left__article left__article middle__artikle middle__artikle right__article right__article';
   
}
.left__article,.middle__artikle,.right__article{
    padding: 1em;
    height: 10em;
    width: 10em;
}
.left__article{
  
    background: dodgerblue;
    color: aliceblue;
}
.middle__artikle{
   
    background:lavender;
}

.right__article{ 

    background:lavender;
}

.information__header{
    
    font: message-box;
    font-size: x-large;
    color: grey;
    
}
button{   
    background:coral; 
    padding: 0em 1.5em;
    border:0rem;
}

.input-field{
    width: 30em;
    height: 2em;
    font-style: italic;
    background: lavender;
    border-width: 0em;
    padding:0.5em;
}