* {
    box-sizing: border-box;
}

html, body {
    font-family: helvetica;
    width:100%;
    margin:0;
    padding:0;
}
h1{
    text-align: center;
    font-size: 35px;
    color: #666;
    font-weight: 400;
}
strong{
    font-weight: 700;
    color:#000;
}
p{
    margin:0 0 10px;
}
/*------------------------------------sökfält med sökknapp-------------------------------------------------------*/
.search-field{
    max-width: 900px;
    margin: 0 auto;
}
.search-field__form{
    padding:4em;
    display: flex;
    justify-content: center;
}
.search-field__input{
    width: 350px;
    font-style: italic;
    background: lavender;
    border-width: 0em;
    padding:9px;
}
.search-field__button{   
    background:coral;
    float: right;  
    border:0rem;
    width: 36px;
}
.search-field__button:hover{
    background-color: orangered;
}
.search-field__button svg {
    margin-top: 3px;
}

/*------------------------------------Artiklar-------------------------------------------------------*/
.artikel-grid{
    max-width: 900px;
    margin: 0 auto;
}
.artikel-grid__container{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.artikel-grid__block {
    padding:1em;
    flex:0 0 25%;
}
.artikel-grid__block-content{
    background-color:#eee;
    padding:1em;
    height:100%;
}
.artikel-grid__block-content--bg-blue {
    background-color: dodgerblue;
    color:#fff;
}

.artikel-grid__block--large {
    flex-basis:50%;
}
.artikel-grid__heading{
    flex-basis: 100%;
    font-family: helvetica;
    font-size: 20px;
    font-weight: 700;   
}
.artikel-grid__column-wrapper{
    display: flex;
    margin: -10px;
}
.artikel-grid__column{
    flex: 1 0 50%;
    padding: 10px;
}
.artikel-grid__paragraph{
    font-family: helvetica;
    font-size: 14px;
    font-weight: 400;
}
.artikel-grid__column,.artikel-grid__img{
    max-width: 100%;
}
.artikel-grid__button{
    display: inline-flex;
    padding:10px 16px;
    margin: 5px 0;
    font-weight:700;
    color: #fff;
    background-color: #666;
    float:right; 
}
.artikel-grid__button-svg{
    height: 16px;
    margin-left: 8px;    
}
/*------------------------------------media query för artiklar-------------------------------------------------------*/
@media screen and (max-width:799px){
    .artikel-grid__block {
        flex-basis: 50%;
    }
    .artikel-grid__block--large {
        flex-basis:100%;
    }
}

@media screen and (max-width:399px){
    .artikel-grid__block {
        flex-basis: 100%;
        padding: 0.5em 1em;
    }
}
/*------------------------------------om tjänsten drop down-------------------------------------------------------*/
.om-tjänsten, .om-tjänsten__target{
    margin: auto;
    max-width: 900px;
}
.om-tjänsten__state{
    display:none;

}
.om-tjänsten__target{
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}
.om-tjänsten__state:checked ~ .om-tjänsten__wrap .om-tjänsten__target{
    opacity: 1;
    font-size: 0.9em;
    max-height: 999em;
    color: #666
    
}
.om-tjänsten__state ~ .om-tjänsten__trigger::before{
    content:'Om tjänsten';
    text-decoration: underline;
}
.om-tjänsten__state:checked ~ .om-tjänsten__trigger::before{
    content:'Om tjänsten';
}

.om-tjänsten__trigger{
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;

}
/*------------------------------------Döljer----------------------------------------------------------*/
.visually-hidden{
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}